<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--ios适配meta-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>双节献礼“蟹谢”你</title>
    <link rel="stylesheet" href="style/main.min.css"/>
</head>
<body>
<script>
    var autoSetRem = (function (doc, win) {
        var docEl = doc.documentElement,
            done = false,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            set = function (paper) {
                if (paper == null) {
                    paper = 750;
                }
                var clientWidth = docEl.clientWidth || win.innerWidth || screen.width;
                if (clientWidth >= 1200) {
                    clientWidth = 750;
                }
                if(clientWidth <= 320){
                    clientWidth = 320;
                }
                if (!clientWidth) return;
                docEl.style.fontSize = 100 * (clientWidth / paper) + 'px';
                done = true;
                return done;
            };
        return {
            set: set
        };
        //AbortifbrowserdoesnotsupportaddEventListener
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, set, false);
        doc.addEventListener('DOMContentLoaded', set, false);
    })(document, window);
    autoSetRem.set(750);
</script>
<div id="app">
    <div style="width: 100%;height: 0.01rem"></div>
    <div class="fl-one">
        <div class="fl-one-center">
            <a class="touzi-rules">投资规则>></a>
            <p class="fl-title">35天标的任务</p>
            <div class="red-list">
                <ul class="red-ul">
                    <li style="margin-left: 0">
                        <img src="assets/no-touzi.png" class="tz-logo"/>
                    </li>
                    <li>
                        <img src="assets/no-touzi.png"  class="tz-logo"/>
                    </li>
                    <li>
                        <img src="assets/no-touzi.png"  class="tz-logo"/>
                        <img src="assets/lw-black@2x.png" class="jd-lw jd-100"/>
                    </li>
                    <li style="margin-left: 0;margin-top: 0.40rem">
                        <img src="assets/no-touzi.png"  class="tz-logo"/>
                    </li>
                    <li style="margin-top: 0.40rem;">
                        <img src="assets/no-touzi.png"  class="tz-logo"/>
                    </li>
                    <li style="margin-top: 0.40rem;">
                        <img src="assets/no-touzi.png"  class="tz-logo"/>
                        <img src="assets/lw-black@2x.png" class="jd-lw jd-300"/>
                    </li>
                </ul>
            </div>
            <p class="fl-tx">已完成0次任务，您再完成3次获得终极神秘大礼</p>
            <img src="assets/red-login@2x.png" class="red-btn"/>
            <img src="assets/zs-text@2x.png" class="same-zs"/>
        </div>
    </div>
    <img src="assets/fuli-two@2x.png" class="fl-two"/>
    <img src="assets/fuli-thr@2x.png" class="fl-thr"/>
    <img src="assets/rules-text@2x.png" class="rules-bottom"/>
</div>
<!--首页页面弹出规则-->
<div class="alert-rules">

</div>
<div class="tan-kuang-bg" id="tan-kuang" v-if="loginContainer && status" v-cloak>
        <!--登录页面-->
        <div class="login-bg" v-if="renderStatus">
            <img src="assets/close-bg@2x.png" class="close-bg" @click="closeLoginContainer"/>
            <p class="login-title">登录</p>
            <div class="input-container" style="margin-top: 0">
                <input placeholder="请输入手机号" class="input-same"
                       type="text" v-model="phoneNumber" v-on:blur="checkPhone(phoneNumber)" maxlength="11"/>
                <img src="assets/correct-icon@2x.png" v-show="checkPhone(phoneNumber)"/>
                <p v-show="phoneNumShow" v-bind:style="{'display': phoneDisplay}">{{phoneTitle}}</p>
            </div>
            <a class="next-tip check-phone" @click="nextTip">下一步</a>
        </div>
        <!--输入登录密码-->
        <div class="login-bg" v-if="loginStatus">
            <img src="assets/close-bg@2x.png" class="close-bg" @click="closeLoginContainer"/>
            <p class="login-title">输入登录密码</p>
            <div class="input-container">
                <input placeholder="请输入8~20位数字与字母组合密码" class="input-same"
                       type="password" v-model="passwordText" v-on:blur="checkPassword(passwordText)" maxlength="20" minlength="8"/>
                <img src="assets/correct-icon@2x.png" v-show="checkPassword(passwordText)"/>
                <p v-show="passwordShow" v-bind:style="{'display': passwordShowLogin}">{{passwordTitle}}</p>
            </div>
            <a class="next-tip" @click="loginAccount">登录</a>
        </div>
        <!--账号未注册提醒-->
        <div class="login-bg clear" v-if="registerTiXinStatus">
            <img src="assets/close-bg@2x.png" class="close-bg" @click="closeLoginContainer"/>
            <p class="account-number-title">账户未注册</p>
            <p class="register-red-title">注册成功后将直接领取1690元红包+神秘大礼</p>
            <a class="not-register" @click="closeLoginContainer">不想要了</a>
            <a class="going-register" @click="goingRegister">注册领取红包</a>
        </div>
        <!--注册页面-->
        <div class="login-bg" v-if="registerStatus" style="padding-bottom: 0.70rem;">
            <img src="assets/close-bg@2x.png" class="close-bg" @click="closeLoginContainer"/>
            <p class="register-title">注册</p>
            <div class="register-center">
                <p class="qtz-promise">*即将为您尾号{{savePhone.slice(7)}}完成晴天助平台的注册</p>
                <div class="input-container">
                    <input placeholder="请设置8~20位数字与字母组合密码" class="input-same"
                           type="password" v-model="passwordText" v-on:blur="checkPassword(passwordText)" maxlength="20" minlength="8"/>
                    <img src="assets/correct-icon@2x.png" v-show="checkPassword(passwordText)"/>
                    <p v-show="passwordShow">{{passwordTitle}}</p>
                </div>
                <div class="input-container">
                    <input placeholder="请输入图形验证码" class="input-same"
                           type="text" v-model="picCodeText" maxlength="4"/>
                    <!--<img src="assets/correct-icon@2x.png" style="right: 1.97rem" v-show="picCodeShow"/>-->
                    <img v-on:click="changePicCodeFun"
                         style="width: 1.70rem;height: 0.76rem;top: 0.12rem;right: 0.12rem;cursor: pointer" class="picCode"/>
                    <!--<a class="get-check" v-on:click="isPhoneExistence()" v-bind:style="{'color':clickColor}">{{getCheckWordButton}}</a>-->
                    <p v-show="picCodeTitle">{{checkPicCode}}</p>
                </div>
                <div class="input-container">
                    <input placeholder="短信验证码" class="input-same"
                           type="text" v-model="checkNumberText" v-on:blur="checkWord(checkNumberText)" maxlength="6"/>
                    <img src="assets/correct-icon@2x.png" style="right: 1.97rem" v-show="checkWord(checkNumberText)"/>
                    <a class="get-check" v-on:click="getPhoneCheckCode" v-bind:class="{'code-hover':codeHover}" v-bind:style="{'color':clickColor}">{{getCheckWordButton}}</a>
                    <p v-show="checkShow" v-bind:style="{'display':checkDisplay}">{{checkWordTitle}}</p>
                </div>
                <div class="agree-consent">
                    <span>注册即视为同意</span>
                    <a href="https://www.qtz360.com/h5/html/regxy/index.html" v-on:click="serviceAgreement()">《服务协议》</a>
                </div>
                <a class="now-register"  v-on:click="submitClick()">完成注册</a>
            </div>
        </div>
    </div>
<script src="script/lib/vue.min.js"></script>
<script src="script/lib/vue-resource.min.js"></script>
<script src="script/lib/jquery-1.10.1.min.js"></script>
<script src="script/main.js"></script>
</body>
</html>