html, body {
    position: relative;
    height: 100%;
}
body {
    background: rgba(0,0,0,0.1);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 100px;
    color:#000;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 7.50rem;
    height: 12.03rem;
    position: relative;
}
.swiper-slide {
    width: 7.5rem;
    height: 12.03rem;
    background-position: center;
    background-size: cover;
}
.move-logo{position: absolute;width: 0.45rem;height: 0.40rem;left: 3.52rem;bottom: 0.40rem;z-index: 3;}

.move-up{
    -webkit-animation: moveUp 1s infinite;
    -moz-animation: moveUp 1s infinite;
    -o-animation: moveUp 1s infinite;
    animation: moveUp 1s infinite;
}

@keyframes moveUp {
    0%{
        opacity: 1;
        bottom: 0.40rem;
    }
    100%{
        opacity: 0.5;
        bottom: 0.78rem;
    }
}
@-moz-keyframes moveUp {
    0%{
        opacity: 1;
        bottom: 0.40rem;
    }
    100%{
        opacity: 0.5;
        bottom: 0.78rem;
    }
}
@-ms-keyframes moveUp {
    0%{
        opacity: 1;
        bottom: 0.40rem;
    }
    100%{
        opacity: 0.5;
        bottom: 0.78rem;
    }
}
@-o-keyframes moveUp {
    0%{
        opacity: 1;
        bottom: 0.40rem;
    }
    100%{
        opacity: 0.5;
        bottom: 0.78rem;
    }
}
@-webkit-keyframes moveUp {
    0%{
        opacity: 1;
        bottom: 0.40rem;
    }
    100%{
        opacity: 0.5;
        bottom: 0.78rem;
    }
}
.page1{
    display: block;
    width: 6.65rem;
    height: 7.21rem;
    position: relative;
    top: 3.50rem;
    margin: 0 auto;
    background: url('./../assests/2.2.png') no-repeat center;
    background-size: 6.65rem 7.21rem;
}
.page1-top{
    width: 6.08rem;
    height: 3.11rem;
    position: absolute;
    top:0.75rem;
    left: 0.20rem;
}
.page1-bot{
    position: absolute;
    bottom: 1.35rem;
    width: 5.22rem;
    height: 0.90rem;
    left: 0.77rem;
}
.page2-top{
    width: 4.68rem;
    height: 2.50rem;
    position: absolute;
    top: 0.25rem;
    left: 0.90rem;
}
.page2-bot{
    width: 4.73rem;
    height: 3.17rem;
    position: absolute;
    left: 0.95rem;
    bottom: 1.10rem;
}
.page3-dif1{
    width: 5.01rem;
    height: 0.82rem;
    position: absolute;
    left: 1.20rem;
    top: 4.14rem;
}
.page3-dif2{
    width: 3.78rem;
    height: 0.82rem;
    position: absolute;
    left: 1.20rem;
    top: 6.0rem;
}
.page3-dif3{
    width: 4.26rem;
    height: 0.73rem;
    position: absolute;
    left: 1.20rem;
    top: 7.86rem;
}
.page3-dif4{
    width: 3.78rem;
    height: 0.72rem;
    position: absolute;
    left: 1.20rem;
    top: 9.56rem;
}
.page4-dif1{
    width: 4.03rem;
    height: 0.75rem;
}
.page4-dif2{
    width: 3.83rem;
    height: 0.69rem;
}
.page4-dif3{
    width: 3.33rem;
    height: 0.73rem;
}
.page4-dif4{
    width: 4.25rem;
    height: 0.67rem;
}
.page5-dif1{
    width: 3.26rem;
    height: 0.67rem;
}
.page5-dif2{
    width: 4.00rem;
    height: 0.72rem;
}
.page5-dif3{
    width: 4.39rem;
    height: 0.69rem;
}
.page5-dif4{
    width: 3.76rem;
    height: 0.80rem;
}
.page7-content{
    width: 4.57rem;
    height: 7.80rem;
    position: absolute;
    top: 2.70rem;
    left: 1.44rem;
}
.page6-dif1{
    position: absolute;
    top: 3.30rem;
    left: 1.60rem;
    width: 3.85rem;
    height: 0.67rem;
}
.page6-dif2{
    position: absolute;
    top: 5.04rem;
    left: 1.60rem;
    width: 3.79rem;
    height: 0.99rem;
}
.page6-dif3{
    position: absolute;
    top: 6.83rem;
    left: 1.60rem;
    width: 3.86rem;
    height: 1.31rem;
}
.page6-dif4{
    position: absolute;
    top: 8.87rem;
    left: 1.60rem;
    width: 3.81rem;
    height: 0.99rem;
}
.page8-content{
    width: 4.59rem;
    height: 8.46rem;
    position: absolute;
    top: 2.65rem;
    left: 1.44rem;
}
.page7-dif1{
    position: absolute;
    top:2.54rem;
    left: 1.77rem;
    width: 3.31rem;
    height: 1.54rem;
}
.page7-dif2{
    position: absolute;
    top:4.75rem;
    left: 1.77rem;
    width: 3.77rem;
    height: 0.88rem;
}
.page7-dif3{
    position: absolute;
    top:6.71rem;
    left: 1.77rem;
    width: 3.37rem;
    height: 0.61rem;
}
.page7-dif4{
    position: absolute;
    top: 8.32rem;
    left: 1.77rem;
    width: 3.77rem;
    height: 0.88rem;
}
.page7-dif5{
    position: absolute;
    top:10.16rem;
    left: 1.77rem;
    width: 3.36rem;
    height: 0.60rem;
}
.swiper-container2{
    width: 5.23rem;
    height: 7.28rem;
}
.swiper-slide2{
    width: 5.23rem;
    height: 3.69rem;
    background-size: 5.23rem 3.69rem;
}

/**/
.container{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 2.55rem;
    width: 5.23rem;
    height: 7.75rem;
}
.slide{
    width: 5.23rem;
    height: 7.75rem;
    position: relative;
}
.slide .img{
    width: 5.23rem;
    height: 3.69rem;
    position: absolute;
    transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
    -webkit-box-shadow: 0.10rem 0.10rem 0.20rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0.10rem 0.10rem 0.20rem rgba(0,0,0,0.4);
    box-shadow: 0.10rem 0.10rem 0.20rem rgba(0,0,0,0.4);
    border-radius: 0.15rem;
}
.slide .img img{
    width: 5.23rem;
    height: 3.69rem;
    margin: 0;
}
.slide .img1{
    top: 0;
    z-index: 1;
    animation: rollScrollOut 1s ease both;
}
.slide .img3{
    top: 4.09rem;
    z-index: 2;
    animation: rollScrollOut 1s ease both;
}
.slide .img2{
    top: 1.98rem;
    z-index: 3;
    animation: rollScroll 1s ease both;
}
@keyframes rollScrollIn {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rollScrollOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}
.slide .img4{
    top: 1.98rem;
    z-index: -2;
    animation: rollScrollOut 1s ease both;
}
.slide .img5{
    top: 30%;
    z-index: 1;
}
.slide-bt{
    position: absolute;
    left: 50%;
    bottom: 13%;
    z-index: 10;
}
.slide-bt span{
    width: 24px;
    height: 8px;
    background: #c9caca;
    float: left;
    margin: 5px;
    border-radius: 4px;
}
.slide .slide-bt .on{
    background: #ffd200;
}
button{
    width: 50px;
    margin: 20px;
}