html{
    font-size: 100px;
}
*{margin: 0;padding: 0}
body {
    background-color: #f9f9f9;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color:#030303;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-select: none;
}
input{background-color: #ffffff}
input
{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
    background-color: #ffffff
}
ul,li{list-style: none;}
a{text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}

.swiper-container {
    width: 3.75rem;
    height: 6.03rem;
}
.swiper-slide {
    text-align: center;
    font-size: 16px;
}
.swiper-container-horizontal>.swiper-pagination-progress{
    height: 0.02rem;
    background-color: #ffffff;
}
.swiper-pagination-progress .swiper-pagination-progressbar{
    background-color: #2dafff;
}
.test-title{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.12rem 0;
    font-weight: normal;
    background-color: #ffffff;
}
.test-title>span{
    display: block;
    width: 3.49rem;
    margin-left: 0.15rem;
}
.risk-ul{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 0.10rem;
    font-size: 15px;
}

.risk-ul>li{
    display: block;
    width: 3.60rem;
    height: auto;
    text-align: left;
    margin-left: 0.16rem;
    padding: 0.12rem 0;
    background-color: #ffffff;
    border-bottom: 0.01rem solid #c8c8c8;
}
.risk-ul>li:nth-child(4){
    border-bottom: 0.01rem solid #ffffff;
}
.risk-ul>li>img{
    width: 0.18rem;
    vertical-align: middle;
}
.risk-ul>li>span{
    display: inline-block;
    width: 3.19rem;
    vertical-align: middle;
    margin-left: 0.15rem;
    letter-spacing: -0.36px;
    color: #5E5E5E;
}
.flip-page{
    display: inline-block;
    width: auto;
    height: 0.18rem;
    margin-top: 0.20rem;
    font-size: 15px;
    color: #2dafff;
    letter-spacing: -0.36px;
}
.pre-page{
    float: left;
    margin-left: 0.16rem;
}
.next-page{
    float: right;
    margin-right: 0.16rem;
    display: none;
}
.submit-risk{
    display: block;
    margin: 0 auto;
    width: 3.40rem;
    height: 0.44rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.44rem;
    border-radius: 0.50rem;
    background-color: #e5e5e5;
    margin-top: 0.58rem;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-container {
    width: 100%;
    height: auto;
}

.risk-logo{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: center;
}

.risk-logo>p{
    display: block;
    font-size: 15px;
    line-height: 0.18rem;
    color: #adadad;
    padding-top: 0.50rem;
    padding-bottom: 0.35rem;
    letter-spacing: -0.36px;
}
.risk-logo>img{
    width: 1.79rem;
    height: 1.39rem;
    padding-bottom: 0.58rem;
}
.result-same{
    display: block;
    margin: 0 auto;
    width: 3.40rem;
    height: 0.44rem;
    text-align: center;
    line-height: 0.44rem;
    border-radius: 0.50rem;
    font-size: 17px;
    letter-spacing: -0.41px;
}
.sure-result{
    margin-top: 0.20rem;
    background-color: #2dafff;
    color: #ffffff;
}
.sure-result:hover{
    background-color: #0098ff;
}
.again-rest{
    color: #2dafff;
    border: 0.01rem solid #2dafff;
    margin-top: 0.10rem;
}
.again-rest:hover{
    background-color: #e0f4ff;
}
.tan-kuang{
    top: 0;
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    position: fixed;
    z-index: 100;
}
.tan-kuang a{
    width: 2.00rem;
    z-index: 101;
    border-radius: .5rem;
    background-color: #2dafff;
    color: #ffffff;
    border: 0.01rem solid #2dafff;
    position: relative;
    top: 1.60rem;
}
.tan-kuang-center{
    width: 3.40rem;
    height: 2.50rem;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    margin-top: -1.25rem;
}
.tan-kuang-center p{
    position: relative;
    display: block;
    text-align: center;
    top: .8rem;
}
